.partner__data {
  padding-top: 5px;
  padding-bottom: 30px;
  background-color: #bdb299;
  text-align: center;
  margin-bottom: 5px;
  @media (max-width: 675px) {
    padding-bottom: 25px;
  }
  @media (max-width: 500px) {
    padding-bottom: 20px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    padding-right: 20px;
    padding-left: 20px;

    .partner__title {
      font-size: 26px;
      margin: 18px;
      line-height: 30px;
      font-weight: 600;
      color: #000;
      @media (max-width: 675px) {
        font-size: 24px;
        margin: 15px;
      }
      @media (max-width: 600px) {
        font-size: 22px;
        margin: 12px;
      }
      @media (max-width: 500px) {
        font-size: 20px;
        margin: 7px;
        margin-top: 3px;
      }
    }
    .partner__desc {
      font-size: 16px;
      margin-bottom: 20px;
      font-weight: 700;
      color: #000;
      @media (max-width: 700px) {
        font-size: 14px;
        margin-bottom: 15px;
      }
      @media (max-width: 600px) {
        font-size: 14px;
        margin-bottom: 14px;
      }
      @media (max-width: 500px) {
        font-size: 13px;
        margin-bottom: 13px;
      }
    }
    .partner__btns_wrap {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      color: #000;
      @media (max-width: 480px) {
        justify-content: space-between;
      }
      .partner__btn {
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid #000;
        border-radius: 18px;
        font-size: 13px;
        padding: 7px 38px;
        color: inherit;
        &:not(:last-child) {
          margin-right: 30px; 
          @media (max-width: 480px) {
            margin: 0;
          }
        }
        @media (max-width: 675px) {
          font-size: 10px;
          padding: 6px 25px;
        }
        @media (max-width: 600px) {
          font-size: 10px;
        }
        @media (max-width: 500px) {
          font-size: 9px;
          padding: 5px 20px;
        }
        @media (max-width: 430px) {
          font-size: 9px;
          padding: 5px 10px;
        }
        @media (max-width: 400px) {
          font-size: 8px;
        }
        &:hover {
          background-color: #fff;
          color: #1d1d1f;
        }
      }
    }
  }
}
