.root {
  text-align: center;
  padding: 100px;
  max-width: 750px;
  margin: 0 auto;

  span {
    font-size: 64px;
  }
}

.description {
  font-size: 22px;
}

.description_btn {
  font-size: 20px;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
}