.main_text {
  margin-top: 28px;
  margin-right: 19px;
  border-bottom: 1px solid #c2c2c2;
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  @media (max-width: 544px) {
    margin: 20px 0 0 0;
  }
  .old_container {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    @media (max-width: 1023px) {
      width: calc(100% - 20px);
    }
    h1 {
      display: inline-block;
      width: 100%;
      margin: 50px 0 20px;
      font-size: 22px;
      font-family: 'Jura', sans-serif;
      text-align: center;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 32px;
      @media (max-width: 767px) {
        margin: 40px 0;
      }
      @media (max-width: 880px) {
        font-size: 20px;
      }
      @media (max-width: 760px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
      @media (max-width: 620px) {
        font-size: 16px;
      }
      span {
        @media (max-width: 760px) {
          display: none;
        }
      }
    }
  }
  p {
    margin: 15px 10%;
    line-height: 23px;
    @media (max-width: 544px) {
      margin: 15px 0;
      text-align: center;
    }
    @media (max-width: 880px) {
      font-size: 18px;
    }
    @media (max-width: 760px) {
      font-size: 16px;
    }
    @media (max-width: 620px) {
      font-size: 15px;
    }
  }
}
