.bronze:before {
  background: url('../../assets/img/imgColors/bronze.jpg') center no-repeat;
}

.white:before {
  background: url('../../assets/img/imgColors/white.png') center no-repeat;
}

.bej:before {
  background: url('../../assets/img/imgColors/bej.png') center no-repeat;
}

.gold:before {
  background: url('../../assets/img/imgColors/gold.png') center no-repeat;
}

.matsil:before {
  background: url('../../assets/img/imgColors/chrome.jpg') center no-repeat;
}

.nickel:before {
  background: url('../../assets/img/imgColors/nickel.jpg') center no-repeat;
}

.chronmr:before {
  background: url('../../assets/img/imgColors/chrome.jpg') center no-repeat;
}

.oring:before {
  background: url('../../assets/img/imgColors/oring.png') center no-repeat;
}

.clear:before {
  background: url('../../assets/img/imgColors/clear.png') center no-repeat;
}

.pink:before {
  background: url('../../assets/img/imgColors/punk.png') center no-repeat;
}

.silver:before {
  background: url('../../assets/img/imgColors/serebro.png') center no-repeat;
}

.gray:before {
  background: url('../../assets/img/imgColors/grey.png') center no-repeat;
}

.blue:before {
  background: url('../../assets/img/imgColors/blue.png') center no-repeat;
}

.purple:before {
  background: url('../../assets/img/imgColors/purple.png') center no-repeat;
}

.chrome:before {
  background: url('../../assets/img/imgColors/matsil.jpg') center no-repeat;
}

.black:before {
  background: url('../../assets/img/imgColors/black.png') center no-repeat;
}









.goluboi:before {
  background: url('../../assets/img/imgColors/goluboi.png') center no-repeat;
}

.jeltiy:before {
  background: url('../../assets/img/imgColors/yeloww.png') center no-repeat;
}

.zeleniy:before {
  background: url('../../assets/img/imgColors/green.png') center no-repeat;
}

.kobichneviy:before {
  background: url('../../assets/img/imgColors/brown.png') center no-repeat;
}

.krasniy:before {
  background: url('../../assets/img/imgColors/red.png') center no-repeat;
}

.oranj:before {
  background: url('../../assets/img/imgColors/oring.png') center no-repeat;
}

.rozoviy:before {
  background: url('../../assets/img/imgColors/rozoviy.png') center no-repeat;
}

.seriy:before {
  background: url('../../assets/img/imgColors/grey.png') center no-repeat;
}

.siniy:before {
  background: url('../../assets/img/imgColors/blue.png') center no-repeat;
}

.fioletoviy:before {
  background: url('../../assets/img/imgColors/fioletoviy.png') center no-repeat;
}