.feedback_tubs {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.feedback_tubs_iconsWrapper {
  display: flex;
  align-items: center;
}

.feedback_tubs_close {
  cursor: pointer;
  transition: transform .4s,-webkit-transform .4s;
}

.feedback_tubs_close:hover {
cursor: pointer;
    // -webkit-transform: rotate(.5turn);
    // transform: rotate(.5turn);
    -webkit-transform: scale(1.31);
    transform: scale(1.31);
}

.iconsWrapper_itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  cursor: pointer;

  transition: opacity 0.2s ease-in;

  &:not(.selected):hover {
    opacity: 0.5;
  }

  &:first-child {
    margin-left: 0;
  }
}


.formo_title {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
    margin-bottom: 25px;
}

.formo_wrapp {
  &:not(:last-child) {
    margin-bottom: 23px;
  }
}

.wrapp_cont_bero {
  cursor: text;
  position: relative;
}

.cont_bero_vero {
  align-items: center;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  padding: 0 15px;
  position: relative;
  transition: border-color .2s;

  &:hover {
    border-color: #989898;
  }

  &:focus {
    border-color: #000;
  }
}

.bero_vero_input {
  padding: 10px 0;
  align-items: center;
  background: inherit;
  border: 0;
  color: inherit;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding-right: 15px;
  position: relative;
  text-align: inherit;
  width: 100%;
  z-index: 3;
}

.wrapp_contino {
  box-sizing: border-box;
  height: 146px;
  resize: none;
  padding: 10px;
  padding-right: 5px;
  background: #fff;
  border: 1px solid #c4c4c4;
  cursor: text;
  position: relative;
}

.wrapp_contino_text {
top: 10px;
color: #989898;
font-size: 14px;
line-height: 150%;  
position: absolute;
z-index: 1;
}

.wrapp_contino_closer {
  color: #404040;
  height: 12px;
  width: 12px;
  opacity: 0;
  transition: opacity .4s,-webkit-transform .4s;
  transition: transform .4s,opacity .4s;
  transition: transform .4s,opacity .4s,-webkit-transform .4s;
  top: 16px;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  right: 20px;
  opacity: 2;
}

.wrapp_contino_place {
cursor: text;
height: 100%;
overflow: hidden;
position: relative;
}

.contino_place_padik {
height: 100%;
overflow-x: hidden;
overflow-y: scroll;
position: relative;
z-index: 1;
}

.place_padik_text {
display: grid;
grid-template-columns: 100%;
min-height: 100%;
cursor: text;
height: 100%;
}

.padik_text_block {
box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  min-height: 100px;
  outline: none;
  padding-right: 30px;
}

.padik_text_textar {
display: none;
}

.fora_light {
bottom: 0;
position: absolute;
right: 5px;
top: 0;
z-index: 2;
height: 100%;
overflow: hidden;
-webkit-user-select: none;
user-select: none;
width: 5px;
}

.fora_light_end {
height: 57.58%;
transform: translate3d(0px, 0%, 0px);
display: block;
background: #c4c4c4;
border-radius: 20px;
cursor: pointer;
opacity: .7;
transition: opacity .4s;
width: 100%;
}

.formo_btn {
  margin-bottom: 20px;
  margin-top: 25px;
}

.formo_btn_wrapp {
  display: flex;
  :hover {
    background: #000;
    border-color: #000;
}
}

.btn_wrapp_btn {
  justify-content: center;
  line-height: 1.5;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;    
  height: 35px;
  width: 100%;
  border-radius: 4px;
  transition: all .2s;
  padding: 0 20px;
  font-weight: 700;
  outline: none;
  color: #fff;
  border: 1px solid #404040;
  background: #404040;
}

.wrapp_btn_text {
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.politic_container {
  color: #989898;
  font-size: 12px;
  line-height: 15px;
  margin-top: 25px;
}

.politic_container_link {
  color: #157ee9;;
  transition: color .2s ease-in-out;
}

.callme_container {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 255px;
}

.phnumber_container {
  margin-top: 15px;
    text-align: center;
}

.phnumber_container_wrapp {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

.phnumber_container_wrapp_phone {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  background-position: left 0 bottom calc(16% - 3px);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  color: #000;
  transition: color .2s ease-in-out;
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: top;
  background-image: linear-gradient(#000,#000);
  &:hover {
    background-image: none;
  }
}