.header_search_main {
  max-width: 270px;
}

.header_search_main_up {
  @media(max-width: 769px) {
    display: none;
  }
}

.header_search_main_down {
  display: none;
  @media(max-width: 769px) {
    max-width: none;
    display: flex;
  }
}

.header_search_main_black {
  display: none;
  flex-direction: row;
  justify-content: space-between;
    // &:before {
    //   content: "";
    //   display: none;
    //   position: absolute;
    //   height: 1px;
    //   bottom: -1px;
    //   width: 92%;
    //   left: 40px;
    //   background-color: #c2c2c2;
    //   @media(max-width: 1024px) {
    //     display: block;
    //   }
    //   @media(max-width: 870px) {
    //     display: block;
    //     width: 90%;
    //   }
    //   @media(max-width: 760px) {
    //     width: 87%;
    //   }
    //   @media (max-width: 565px) {
    //     left: 20px;
    //     width: 92%;
    //   }
    //   @media (max-width: 390px) {
    //     width: 88%;
    //   }
    // }
  @media(max-width: 769px) {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
  }
  @media(max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hild_cont {
  @media(max-width: 1200px) {
    display: none;
    }
}



.main_logr {
  color: #232323;
  width: auto;
  font-size: 16px;
  right: 75px;

  @media(max-width:1021px) {
    right: 25px;
  }
  
  @media(max-width: 1670px) {
    right: 70px;
  }
}

.head_cont {
  padding-top: 20px;
  padding-bottom: 15px;
  background: #0085FF;
  @media(max-width: 1023px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media(max-width: 550px) {
    height: 50px;
    padding-top: 18px;
    padding-bottom: 13px;
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.head_cont_polu {
  padding-top: 65px;
  padding-bottom: 65px;
  @media(max-width: 550px) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.substyle {
  // width: 99.2vw;
  width: 98.8vw;
  left: 0;
  padding: 20px 130px 20px 44px;
  display: flex;
  justify-content: space-between;
  @media(max-width: 1550px) {
    padding-right: 70px;
  }
  @media(max-width: 1325px) {
    padding-right: 55px;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 1px;
    top: -2px;
    background-color: #c2c2c2;
  }
}

.substyle_wrapp {
  display: flex;
  gap: 110px;
  max-width: 75%;
  @media(max-width: 1550px) {
  gap: 50px;
  }
  // @media(max-width: 1325px) {
  //   gap: 25px;
  // }
}

.substyle_wrapp_three {
  display: flex;
  flex-direction: column;
  // gap: 110px;
  max-width: 75%;
  // @media(max-width: 1550px) {
  // gap: 50px;
  // }
  // @media(max-width: 1325px) {
  //   gap: 25px;
  // }
}

.substyle_ul {
  max-width: 310px;
  @media(max-width: 1325px) {
    max-width: 210px;
  }
}

.listmenu_item {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 17px;
}

.listmenu_item_three {
  font-weight: 600;
  font-size: 18px;
}

.listmenu_item_popular {
  display: none;
}

.sale_item {
  margin-top: 21px;
}

.sale_link {
  color: #D70404;
}
.listmenu_link {
  padding-top: 6px;
  padding-bottom: 7px;
  font-size: 17px;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
  // &:before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   bottom: 0;
  //   opacity: 0;
  //   background-color: #000;
  //   width: 100%;
  //   height: 1px;
  // }

  // &:hover:before {
  //   opacity: 1;
  // }
}

.listmenu_link_first {
  font-size: 17px;
}

.substyle_ul_popular_list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.substyle_ul_popular_list_subtree {
  display: flex;
  padding-top: 0;
}

.subthree_img {
  width: 250px;
  height: 260px;
}

.finalPrice_styles {
  font-size: 14px;
  margin-left: 10px;
  color: #787878;
  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    width: 56px;
    height: 1px;
    background-color: #787878;
  }
}

.main_sub_link {
  font-size: 17px;
  &:hover {
    font-weight: 600;
    color: #232323;
  }
}

.main_sub_link_default{
  color: #787878;
  cursor: text;
  &:hover {
  color: #787878;
  }
}

.main_header_menu {
  // max-width: 1100px;
  max-width: 70vw;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1650px) {
    max-width: 80vw;
  }
  @media (max-width: 1450px) {
    max-width: 90vw;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: -1px;
    left: 70px;
    background-color: #c2c2c2;
    

    @media(max-width: 1200px) {
    display: block;
      width: 94%;
      left: 40px;
    }
    @media(max-width: 1024px) {
      display: none;
    }
  }
}

.header_main_menuhead {
  @media(max-width: 1200px) {
    display: none;
  }
}

// .header_search_main_wrapp {
//   // height: 50px;
//   background: #0085FF;
// }

.header_search_main_dek {
  display: none;
  @media (max-width: 1200px) {
    display: flex;
  }
  @media (max-width: 550px) {
    display: none;
  }
}

.header_search_main_dev {
  display: flex;
  @media (max-width: 1200px) {
    display: none;
  }
}

.mob_men_hei {
  // height: calc(100vh - 150px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.mob_men_heig {
  border-bottom: 1px solid #989898;
  padding-bottom: 20px;
  width: 90%;
  align-items: center;
}

.favimga {
  width: 24px;
  height: 22px;
}

.efrvws {
  display: flex;
  align-items: center;
}

.fegrtef {
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}

.fegsartef {
  @media (max-width: 550px) {
    display: none;
  }
}