.section_collections {
  margin-top: 110px;
  @media (max-width: 1150px) {
    margin-top: 50px;
  }
  @media (max-width: 660px) {
    margin-top: 30px;
  }
  .container {
    max-width: 1660px;
    padding: 0 30px;
    margin: 0 auto;
    @media (max-width: 920px) {
      padding: 0 15px;
    }
    @media (max-width: 220px) {
      padding: 0 10px;
    }
  }
  .collections_container {
    margin-bottom: 50px;
    .collections_header {
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 30px;
      @media (max-width: 920px) {
        margin-bottom: 5px;
        font-size: 29px;
      }
      @media (max-width: 660px) {
        font-size: 25px;
        margin-bottom: 0;
      }
    }
  }
}
