.logo_main {
  display: flex;
  font-family: 'Jura', sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #0085FF;
  img{
  margin-left: 10px;
  width: 90px;
  @media(max-width: 550px) {    
    width: 60px;
    height: 50px;
    margin-top: 4px;
    height: 60px !important;
    margin-left: 5px;
  }
  }
  span{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  margin-left: 10px;
  @media(max-width: 550px) {
    margin-left: 5px;
  }
  }
  @media(max-width: 780px) {
    font-size: 37px
  }
  @media(max-width: 550px) {
    width: 60px;
    font-size: 30px
  }
  @media(max-width: 440px) {
    font-size: 26px
  }
}

.rootClassNamePadding {
  padding-left: 70px;
  padding-right: 70px;
  @media(max-width: 1200px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media(max-width: 550px) {
    padding-left: 20px;
    padding-right: 40px;
  }
}

.not_buttonGroupClassName,
.yes_buttonGroupClassName {
  &:hover {
    background-color: #0085FF;
  }
}

.iz_header {
  font-weight: 700;
  // font-size: 31px;
  font-size: 27px;
  @media(max-width: 1365px) {
    // font-size: 28px;
    font-size: 25px;
  }
  @media(max-width: 1150px) {
    // font-size: 25px;
    font-size: 23px;
  }
  @media(max-width: 800px) {
    // font-size: 23px;
    font-size: 21px;
  }
}
.logo_main_polu {
  width: 60px;
  @media(max-width: 550px) {
    width: 50px;
  }
}

.logo_main_a {
  width: 60px;
  margin-left: 15px;
  @media(max-width: 550px) {
    margin-top: 5px;
  }
}

